<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plasma.png</string>
            <key>size</key>
            <string>{114,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40c88cc65af09838ec8854b1756b56af:2c1c7e0a1f2603d7c396dcbc78169090:ad29dec9a1b3629befdbf426c2f51634$</string>
            <key>textureFileName</key>
            <string>plasma.png</string>
        </dict>
    </dict>
</plist>
