<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plasmagun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,13}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>revolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guns.png</string>
            <key>size</key>
            <string>{55,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6214feee160add90beaa993df5fb2d1:0d0c0a3553768740d8d29530428787cf:df7276a86ec547fb31bbf4059f1a5bae$</string>
            <key>textureFileName</key>
            <string>guns.png</string>
        </dict>
    </dict>
</plist>
